<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - rules</title>
  
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One%7CSource+Code+Pro" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="static/faq/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
    <!-- random quote machine -->
    <div class="wrapper quote-machine border blue">
      <header class="border blue">
        <h1>Rules and Regulations</h1>
       
        
      </header>
      
      <main class="border blue">

        
        •    To level up, you need to solve the previous question.<BR>
        <br>
•    The clues for each level can be found in:<BR><br>
     &nbsp  o    Page Title<BR>
    &nbsp   o    URL<BR>
     &nbsp  o    Pictures on the level <BR>
      &nbsp o    Page Source<BR>
     &nbsp  o    Or simply thequestion/image<BR><br>
•    Answers are case sensitive unless mentioned otherwise.<BR><br>
•    Spaces must be included in answers containing multiple words.<BR>
        <br>
•    Basic Technical skills are required. (Don’t worry all the techniques are easy and can be googled).<BR><br>
•    If you think you are stuck at a question try approaching in a different way.<BR><br>
•    We have no restrictions on the number of attempts; do not hesitate in trying out random answers.<BR><br>
•    If any participant is found sharing answers they will be immediately and mercilessly disqualified.<BR><br>
•    If you think there is a problem in the questions/ if you want hints, you can mail us at sinusoid@st.niituniversity.in. <br>Hints will be sent if the team deems it necessary.<BR><br><br><br><br><br><br>
        
  <center><div class="block">
          <a href="https://discord.gg/GZv9yRP" id="newQuoteBtn" class="btn">Discord server</a>
          <span id="tweet-wrapper">
          </span>
        </div>
      </center>
      </main>
      <footer class="border blue">
        <p class="page-author">ABSTRUSE'20 
      </footer>
    </div>

    
     
     
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
</body>
</html>
