<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SINUSOID-ABSTRUSE</title>
  <link rel="stylesheet" href="static/landing/style.css">
<link rel="icon" type="image/png" sizes="32x32" href="static/ABSTRUSE.png">


</head>
<body>
<!-- partial:index.partial.html -->
<div class="text-wrapper">
    <div class="title" data-content="Abstruse">
        <ABBR>Abstruse</ABBR>
    </div>
    <br>
    <br>
    <br>
    <br>
    
    <a href='/login'>
    <div class="google-btn">
  <div class="google-icon-wrapper">
    <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
  </div>
  <p class="btn-text"><b>Sign in with google</b></p>
</div>
</div>
</a>
<!-- partial -->
  
</body>
</html>
