<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" sizes="32x32" href="static/ABSTRUSE.png">
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="7; URL=/challenges" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAY</title>
</head>
<style>
    .kontainer{
        display: flex;
    }
</style>
<body>
    <center><h2 style='font-family: Verdana, Geneva, Tahoma, sans-serif;' >Congratulashions</h2></center>
    <div class='kontainer'>
        <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee> <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee>
    <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee>
    <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee>
    </div>
    
    <div class='kontainer'>
        <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee> <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee>
    <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee>
    <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee>
    </div>
    <div class='kontainer'>
        <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee> <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee>
    <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee>
    <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee>
    </div>
    <div class='kontainer'>
        <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee> <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee>
    <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee>
    <marquee><img width=200 src="static/senor.gif" alt="vibe kat"></marquee>
    </div>
    








</body>
</html>